body {
    background-color: pink;
    color: black;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0; 
}
button {
    background-color: blue;
    color: red;
    font-family: "Roboto Mono", monospace;
}
.passo {
    display: none;
}
.passo.ativo {
    display: block;
}
main {
    max-width: 90%;
    text-align: center;
}
img {
    max-width: 90%;
}